# LimeClicks Requirements - All Dependencies
# Python 3.11+ Required
# Last updated: 2025-08-25

# Core Django & Framework
Django==5.2.5
asgiref==3.8.1
sqlparse==0.5.3
django-environ==0.12.0
django-extensions==4.1
python-dotenv==1.0.1

# Database
psycopg2-binary==2.9.10
psycopg==3.2.9
psycopg-binary==3.2.9
dj-database-url==3.0.1

# Celery & Task Queue
celery==5.4.0
django-celery-beat==2.8.1
redis==6.2.0
django-redis==6.0.0
hiredis==3.2.1
amqp==5.3.1
billiard==4.2.1
kombu==5.4.2
vine==5.1.0
flower==2.0.1
prometheus-client==0.22.1
python-crontab==3.3.0
cron-descriptor==1.4.5
django-timezone-field==7.1

# Authentication & Security
django-allauth==65.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cryptography==45.0.6
fido2==2.0.0
qrcode==8.2
django-recaptcha==4.1.0
cffi==1.17.1
pycparser==2.22
PyJWT==2.10.1

# Storage & Media
boto3==1.40.13
botocore==1.40.13
django-storages==1.14.6
Collectfasta==3.3.0
pillow==11.3.0
s3transfer==0.13.1
jmespath==1.0.1

# Email Services
django-anymail==13.0
brevo-python==1.2.0

# Admin & UI
django-unfold==0.64.2
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
crispy-tailwind==1.0.3
django-htmx==1.23.2

# Rich Text Editor
django-ckeditor==6.7.3
django-ckeditor-5==0.2.18
django-js-asset==3.1.2

# Import/Export
django-import-export==4.3.9
tablib==3.8.0
diff-match-patch==20241021

# Utilities
django-model-utils==5.0.0
django-simple-history==3.10.1
python-slugify==8.0.4
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.1
humanize==4.12.3

# HTTP & Networking
requests==2.32.5
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
urllib3==2.5.0
anyio==4.10.0
sniffio==1.3.1
h11==0.16.0
websockets==15.0.1
beautifulsoup4==4.13.5
soupsieve==2.7

# Server & ASGI
gunicorn==23.0.0
uvicorn==0.35.0
honcho==2.0.0
starlette==0.47.2
watchfiles==1.1.0

# CLI & Terminal
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
tqdm==4.67.1
termcolor==3.1.0
prompt-toolkit==3.0.50
wcwidth==0.2.13

# Development & Testing
pytest==8.4.1
pytest-django==4.11.1
pytest-sugar==1.0.0
coverage==7.9.2
django-coverage-plugin==3.1.1
factory-boy==3.3.2
Faker==37.5.3
iniconfig==2.1.0
pluggy==1.6.0
tblib==3.1.0

# Debugging & Development Tools
django-debug-toolbar==5.2.0
ipdb==0.13.13
ipython==9.4.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
ptyprocess==0.7.0
pure-eval==0.2.3
stack-data==0.6.3
traitlets==5.14.3
asttokens==3.0.0
decorator==5.2.1
executing==2.2.0

# Code Quality & Linting
ruff==0.12.3
mypy==1.16.1
mypy-extensions==1.1.0
django-stubs==5.2.1
django-stubs-ext==5.2.2
djlint==1.36.4
pre-commit==4.2.0
pathspec==0.12.1
cssbeautifier==1.15.4
jsbeautifier==1.15.4
json5==0.12.1
regex==2025.7.34
EditorConfig==0.17.1
identify==2.6.13
nodeenv==1.9.1
virtualenv==20.34.0
distlib==0.4.0
filelock==3.19.1
platformdirs==4.3.8
cfgv==3.4.0

# Documentation
Sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
alabaster==1.0.0
babel==2.17.0
docutils==0.21.2
imagesize==1.4.1
snowballstemmer==3.0.1

# Core Dependencies
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
PyYAML==6.0.2
six==1.17.0
text-unidecode==1.3
typing-extensions==4.14.1
types-PyYAML==6.0.12.20250809
Pygments==2.19.2
roman-numerals-py==3.1.0
setuptools==80.9.0
wheel==0.45.1
tornado==6.5.2
watchdog==6.0.0
Werkzeug==3.1.3